<% content_for :search_form do %>
    <% form_for :search, url: tech_index_path,
                html: {class: "navbar-form pull-left"}, method: "GET" do |f| %>
        <%= f.text_field :tech, placeholder: "rails"%>
        <%= f.submit "search", :class=>"btn" %>
    <% end %>
<% end %>

<div class="container">
    <h1>Create Review</h1>

    <%= form_for :review, url: technology_review_index_path(@technology) do |f| %>
        <fieldset>
            <%= f.label :version_used %>
            <%= f.text_field :version_used %>
        </fieldset>
        <fieldset>
            <%= f.label :overall_rating %>
            <%= f.range_field :overall_rating, :min=>1, :max=>5, :class=>"slide"%>
        </fieldset>
        <fieldset>
            <%= f.label :development_status %>
            <%= f.range_field :development_status, :min=>1, :max=>5, :class=>"slide"%>
        </fieldset>
        <fieldset>
            <%= f.label :community %>
            <%= f.range_field :community, :min=>1, :max=>5, :class=>"slide"%>
        </fieldset>
        <fieldset>
            <%= f.label :maturity %>
            <%= f.range_field :maturity, :min=>1, :max=>5, :class=>"slide"%>
        </fieldset>
        <fieldset>
            <%= f.label :what_makes_it_unique %>
            <%= f.text_area :what_makes_it_unique, :rows=>3 %>
        </fieldset>
        <fieldset>
            <%= f.label :what_is_it_good_at %>
            <%= f.text_area :what_is_it_good_at, :rows=>3 %>
        </fieldset>
        <fieldset>
            <%= f.label :what_is_it_bad_at %>
            <%= f.text_area :what_is_it_bad_at, :rows=>3 %>
        </fieldset>
        <fieldset>
            <%= f.label :general_comments %>
            <%= f.text_area :general_comments, :rows=>3 %>
        </fieldset>

        <fieldset>
            <%= f.submit "submit", :class=>"btn" %>

        </fieldset>

    <% end %>
</div>
