<ul class="unstyled">
    <% text_reviews.find_all{|r| r.review_type.id==review_type_id}.each do |review| %>
        <% unless review.review.blank? %>
            <li>
                <div class="top-line-review">
                    <div class="meta-review">
                        <%= form_for :meta_review,
                                     url:technology_review_type_text_review_meta_review_index_path(technology_id, review_type_id, review.id),
                                     html: {:class=>"text-review"} do |f| %>

                            <%= f.hidden_field :valiance, :value=>1 %>
                            <%= button_tag(type:'submit', class:"iconless-button") do %>
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            <% end %>
                        <% end %>
                    </div>

                    <div class="review-headline">
                        <%= review.user.username %>
                    </div>
                </div>


                <div class="review-text">
                    <%= review.review %>
                </div>


                <!--<glyphicon class="glyphicon glyphicon-arrow-down"></glyphicon>-->
            </li>
        <% end %>
    <% end %>
</ul>