<% @title = "HeapSheep: " + @technology_type.name %>

<ol class="breadcrumb affix">
  <li><a href="/"><span class="glyphicon glyphicon-home" ></span> Home</a></li>
  <li class="active"><%= @technology_type.name %></li>
</ol>


<div class="container-fluid">
    <% ordered_keys = @grouped_tech.keys.sort_by!{|a| a.nil? ? "zz" : a.name} %>
    <div class="col-md-3">
        <div class="affix sidebar-affix well">
            <ul class="sidebar unstyled">
                <% ordered_keys.each do |subdomain| %>
                    <% name = subdomain.nil? ? "Other" : subdomain.name  %>
                    <li>
                        <a href="#<%= name %>"><%= name %></a>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <h1 class="main-title">Find out what people think of these <%= @technology_type.name.pluralize(@key_values.count).downcase %>:</h1>

        <% ordered_keys.each do |subdomain| %>
            <% values = @grouped_tech[subdomain] %>
            <% name = subdomain.nil? ? "Other" : subdomain.name %>
            <h2>
                <span id="<%= name %>" class="anchor">&nbsp;</span>
                <%= name %>
            </h2>

            <ul class="unstyled">
                <% values.each do |value| %>
                    <% technology = value.technology %>
                    <li class="row-fluid">
                            <div class="tech">
                                <% cache ['numeric-reviews', technology, technology.numeric_reviews] do %>
                                    <% rating_summary = construct_tech_overview(technology) %>
                                    <% if rating_summary.overall_count > 0 %>
                                        <%= render partial: "stars", locals: {rating: rating_summary.overall, count: rating_summary.overall_count, cap: 5, technology_id: technology.id, review_type_id: 1} %>
                                        (<%= rating_summary.overall_count %> <%= "rating".pluralize(rating_summary.overall_count) %>)
                                    <% end %>
                                <% end %>

                                <%= link_to technology[:name], technology_path(technology), class: "span12 tech-link" %>
                            </div>
                    </li>
                <% end %>
                <li><%= link_to "add new", new_technology_path(:technology_type_id => @technology_type.id), class: "btn btn-primary btn-sm" %></li>
            </ul>
        <% end %>
    </div>


</div>
