<% content_for :search_form do %>
    <% form_for :search, url: tech_index_path,
                html: {class: "navbar-search"}, method: "GET" do |f| %>
        <%= f.text_field :tech, placeholder: "search", class:"search-query"%>
        <%= f.submit "search", :class=>"hide" %>
    <% end %>
<% end %>

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active"><%= @type.name %></li>
</ul>

<div class="container-fluid">
    <h1>Add a <%= @type.name %></h1>
    <div class="lead">
    Tell us about a new technology!
    </div>

    <%= form_for :technology, url:technology_index_path do |f| %>
        <%= hidden_field_tag(:technology_type_id, @type.id) %>
        <fieldset class="row-fluid">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </fieldset>
        <fieldset class="row-fluid">
            <%= f.label :website %>
            <%= f.text_field :website %>
        </fieldset>

        <% @properties.each do |property| %>
            <%= f.fields_for :values do |builder| %>
                <fieldset class="row-fluid">
                    <% if property.property_type == 'text' %>
                        <%= builder.label :value, property.display_name %>
                        <%= f.text_field :value %>
                    <% elsif property.property_type == 'boolean' %>
                        <label class="checkbox">
                            <%= f.check_box :value %> <%=property.display_name%>
                        </label>
                    <% elsif property.property_type == 'technology' %>
                        <%= builder.label :value, property.display_name %>
                        <%= builder.text_field :value, :data =>
                                { :provide => 'typeahead',
                                  :source => @technologies,
                                  :mode => 'multiple',
                                  :items => 10} %>
                    <% end %>
                </fieldset>
            <% end %>
        <% end %>

        <fieldset class="row-fluid">
            <%= f.submit "submit", :class=>"btn" %>
        </fieldset>

    <% end %>
</div>
