
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active"><%= @type.name %></li>
</ul>

<div class="container-fluid">
    <h1>Add a <%= @type.name %></h1>
    <div class="lead">
    Tell us about a new technology!
    </div>

    <%= form_for @technology, url:technology_index_path do |f| %>
        <%= f.hidden_field :technology_type_id %>
        <fieldset class="row-fluid">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </fieldset>
        <fieldset class="row-fluid">
            <%= f.label :website %>
            <%= f.text_field :website %>
        </fieldset>

        <fieldset class="row-fluid">
            <label class="checkbox">
                <%= f.check_box :is_open_source %> is open source
            </label>
        </fieldset>

        <%= f.fields_for :technology_property_values do |builder| %>
            <%= builder.hidden_field :technology_property_id %>
            <fieldset>
                <% if builder.object.technology_property.property_type == 'text' %>
                    <%= builder.label :value, builder.object.technology_property.display_name %>
                    <%= builder.text_field :value %>
                <% elsif builder.object.technology_property.property_type == 'boolean' %>
                    <label class="checkbox">
                        <%= builder.check_box :value %> <%=builder.object.technology_property.display_name%>
                    </label>
                <% end %>
            </fieldset>

        <% end %>
        <%= f.fields_for :technology_technology_values do |builder| %>
            <%= builder.hidden_field :technology_technology_property_id %>
            <fieldset>
                <%= builder.label :value, builder.object.technology_technology_property.display_name %>
                <%= builder.collection_select(:value, Technology.where(:technology_type_id=>builder.object.technology_technology_property.value_type_id),
                                        :id, :name, {}, {:class=>"select2",:multiple=>true} ) %>
            </fieldset>

        <% end %>

        <fieldset class="row-fluid">
            <%= f.submit "submit", :class=>"btn" %>
        </fieldset>

    <% end %>
</div>


