<% content_for :search_form do %>
    <% form_for :search, url: tech_index_path,
                html: {class: "navbar-search"}, method: "GET" do |f| %>
        <%= f.text_field :tech, placeholder: "search", class:"search-query"%>
        <%= f.submit "search", :class=>"hide" %>
    <% end %>
<% end %>

<div class="container">
    <h1>Add a technology</h1>
    <div class="lead">
    Tell us about a new technology!
    </div>

    <%= form_for :technology, url:technology_index_path do |f| %>
        <fieldset>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </fieldset>
        <fieldset>
            <%= f.label :website %>
            <%= f.text_field :website %>
        </fieldset>
        <fieldset>
            <%= f.label :technology_type %>
            <%= f.text_field :technology_type, :data =>
                    { :provide => 'typeahead',
                      :source => @type} %>
        </fieldset>
        <fieldset>
            <%= f.label :compatible_with %>
            <%= f.text_field :compatible_with, :data =>
                    { :provide => 'typeahead',
                      :source => @technologies,
                      :mode => 'multiple',
                      :items => 10} %>
        </fieldset>

        <fieldset>
            <%= f.submit "submit", :class=>"btn" %>
        </fieldset>

    <% end %>
</div>
