<% @title = "HeapSheep: " + @technology.name %>

<ol class="breadcrumb affix">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li>
        <%= link_to @technology.technology_type.name,
                    technology_index_path(:technology_type_id => @technology.technology_type.id) %>
    </li>
    <li class="active"><%= @technology.name %></li>
</ol>


<div class="container-fluid">

    <div class="row-fluid">

        <div class="col-md-9">
            <h1><%= @technology[:name] %></h1>
            <dl class="dl-horizontal">
                <% cache ['numeric-reviews', @technology, @technology.numeric_reviews] do %>
                    <dt>Overall rating (<%= @rating_summary.overall_count %>)</dt>
                    <dd class="rating"><%= render partial: "stars", locals: {rating: @rating_summary.overall, count: @rating_summary.overall_count, cap: 5, technology_id: @technology.id, review_type_id: 1} %></dd>
                    <dt>Development (<%= @rating_summary.development_count %>)</dt>
                    <dd class="rating"><%= render partial: "stars", locals: {rating: @rating_summary.development, count: @rating_summary.development_count, cap: 5, technology_id: @technology.id, review_type_id: 2} %></dd>
                    <dt>Community (<%= @rating_summary.community_count %>)</dt>
                    <dd class="rating"><%= render partial: "stars", locals: {rating: @rating_summary.community, count: @rating_summary.community_count, cap: 5, technology_id: @technology.id, review_type_id: 3} %></dd>
                    <dt>Maturity (<%= @rating_summary.maturity_count %>)</dt>
                    <dd class="rating"><%= render partial: "stars", locals: {rating: @rating_summary.maturity, count: @rating_summary.maturity_count, cap: 5, technology_id: @technology.id, review_type_id: 4} %></dd>
                <% end %>
            </dl>

            <div>
                <% cache ['text_reviews', @technology, @technology.text_reviews] do %>
                    <h2>In General</h2>
                    <%= link_to 'add', new_technology_review_type_text_review_path(@technology.id, 8), :class=> "btn btn-primary" %>

                    <%= render partial: "text_review", locals: {text_reviews: @technology.text_reviews, review_type_id: 8, technology_id: @technology.id} %>


                    <h2>What makes it unique?</h2>
                    <%= link_to 'add', new_technology_review_type_text_review_path(@technology.id, 5), :class=> "btn btn-primary" %>
                    <%= render partial: "text_review", locals: {text_reviews: @technology.text_reviews, review_type_id: 5, technology_id: @technology.id} %>

                    <h2>What is it good at?</h2>
                    <%= link_to 'add', new_technology_review_type_text_review_path(@technology.id, 6), :class=> "btn btn-primary" %>
                    <%= render partial: "text_review", locals: {text_reviews: @technology.text_reviews, review_type_id: 6, technology_id: @technology.id} %>

                    <h2>What is it bad at?</h2>
                    <%= link_to 'add', new_technology_review_type_text_review_path(@technology.id, 7), :class=> "btn btn-primary" %>
                    <%= render partial: "text_review", locals: {text_reviews: @technology.text_reviews, review_type_id: 7, technology_id: @technology.id} %>
                <% end %>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Alternatives</h4>

            <div>
                <% cache ['alternatives', @technology, @alternatives] do %>
                    <% @alternatives.each do |alternative| %>
                        <%= link_to alternative.name, technology_path(alternative) %>
                    <% end %>
                <% end %>
            </div>

            <% cache ['technology_property_values', @technology, @technology.technology_property_values] do %>
                <% @technology.technology_property_values.each do |property_value| %>
                    <% cache do
                      ['property_value', @technology, property_value] %>
                        <h4><%= property_value.technology_property.display_name %></h4>

                        <div>
                            <%= property_value.value %>
                        </div>
                    <% end %>
                <% end %>
            <% end %>

            <% @technology_property_value_hash.each do |property, values| %>
                <h4><%= property.display_name %></h4>
                <% values.each do |value| %>
                    <% unless value.nil? %>
                        <%= value.name %>
                    <% end %>
                <% end %>
            <% end %>
        </div>

    </div>
</div>

