<div class="container-fluid">
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <fieldset class="tech">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true %>
      </fieldset>

        <fieldset class="tech">
            <%= f.label :username %>
            <%= f.text_field :username %>
        </fieldset>

      <fieldset class="tech">
          <%= f.label :password %>
          <%= f.password_field :password %>
      </fieldset>

      <fieldset class="tech">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
      </fieldset>

      <fieldset class="tech">
          <%= f.submit "Sign up", :class=>"btn" %>
      </fieldset>
    <% end %>

    <%= render "devise/shared/links" %>

</div>