
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li>
      <%= link_to @technology.technology_type.name,
          tech_index_path(:technology_type_id => @technology.technology_type.id) %>
      <span class="divider">/</span>
  </li>
  <li class="active"><%= @technology.name %></li>
</ul>

<div class="row-fluid">

    <h1><%= @technology[:name] %></h1>
</div>
<div class="span3 sidebar">
    <dl>
        <dt>Overall rating</dt>
        <dd class="rating"><%= render partial:"stars", locals: {rating: @rating_summary.overall, cap:5, technology_id:@technology.id, review_type_id:1} %></dd>
        <dt>Development</dt>
        <dd class="rating"><%= render partial:"stars", locals: {rating: @rating_summary.development, cap:5, technology_id:@technology.id, review_type_id:2} %></dd>
        <dt>Community</dt>
        <dd class="rating"><%= render partial:"stars", locals: {rating: @rating_summary.community, cap:5, technology_id:@technology.id, review_type_id:3} %></dd>
        <dt>Maturity</dt>
        <dd class="rating"><%= render partial:"stars", locals: {rating: @rating_summary.maturity, cap:5, technology_id:@technology.id, review_type_id:4} %></dd>
    </dl>

    <h3>Alternatives</h3>
    <div>
        <% @alternatives.each do |alternative| %>
            <%= link_to alternative.name, tech_url(alternative) %>
        <% end %>
    </div>

    <h3>In the ecosystem</h3>

    <% @technology.technology_property_values.each do |property_value| %>
        <h3><%= property_value.technology_property.display_name %></h3>
        <div>
            <%= property_value.value %>
        </div>
    <% end %>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">

            <h2>In General</h2>
            <%= link_to 'add', new_technology_review_type_text_review_path(@technology.id, 8) %>
            <ul class="unstyled">
                <% @technology.text_reviews.find_all{|r| r.review_type.id==8}.each do |review| %>
                    <% unless review.review.blank? %>
                        <li><%= review.review %>(<%= review.user.email %>)</li>
                    <% end %>
                <% end %>
            </ul>

            <h2>What makes it unique?</h2>
            <%= link_to 'add', new_technology_review_type_text_review_path(@technology.id, 5) %>
            <ul class="unstyled">
                <% @technology.text_reviews.find_all{|r| r.review_type.id==5}.each do |review| %>
                    <% unless review.review.blank? %>
                        <li><%= review.review %>(<%= review.user.email %>)</li>
                    <% end %>
                <% end %>
            </ul>

            <h2>What is it good at?</h2>
            <%= link_to 'add', new_technology_review_type_text_review_path(@technology.id, 6) %>
            <ul class="unstyled">
                <% @technology.text_reviews.find_all{|r| r.review_type.id==6}.each do |review| %>
                    <% unless review.review.blank? %>
                        <li><%= review.review %>(<%= review.user.email %>)</li>
                    <% end %>
                <% end %>
            </ul>

            <h2>What is it bad at?</h2>
            <%= link_to 'add', new_technology_review_type_text_review_path(@technology.id, 7) %>
            <ul class="unstyled">
                <% @technology.text_reviews.find_all{|r| r.review_type.id==7}.each do |review| %>
                    <% unless review.review.blank? %>
                        <li><%= review.review %>(<%= review.user.email %>)</li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
</div>

