<% content_for :search_form do %>
    <% form_for :search, url: tech_index_path,
                html: {class: "navbar-search"}, method: "GET" do |f| %>
        <%= f.text_field :tech, placeholder: "search", class:"search-query" %>
        <%= f.submit "search", :class=>"hide" %>
    <% end %>
<% end %>

<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li>
      <%= link_to @technology.technology_type.name,
          tech_index_path(:search => {:technology_type => @technology.technology_type.name}) %>
      <span class="divider">/</span>
  </li>
  <li class="active"><%= @technology.name %></li>
</ul>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2 sidebar">
            <h3>Alternatives</h3>
            <div>
                <% @alternatives.each do |alternative| %>
                    <%= link_to alternative.name, tech_url(alternative) %>
                <% end %>
            </div>

            <h3>In the ecosystem</h3>

            <% @property_values.each do |property_value| %>
                <h3><%= property_value.property.display_name %></h3>
            <% end %>
        </div>
        <div class="span10">

            <h1><%= @technology[:name] %></h1>
            <%= link_to "write review",
                        new_technology_review_path(@technology),
                        class: "btn" %>



            <dl class="dl-horizontal">
                <dt>Overall rating</dt>
                <dd><%= @rating_summary.overall %></dd>
                <dt>Development</dt>
                <dd><%= @rating_summary.development %></dd>
                <dt>Community</dt>
                <dd><%= @rating_summary.community %></dd>
                <dt>Maturity</dt>
                <dd><%= @rating_summary.maturity %></dd>
            </dl>

            <h2>In General</h2>
            <ul class="unstyled">
                <% @technology.reviews.each do |review| %>
                    <% unless review.general_comments.blank? %>
                        <li><%= review.general_comments %>(<%= review.user.email %>)</li>
                    <% end %>
                <% end %>
            </ul>

            <h2>What makes it unique?</h2>
            <ul class="unstyled">
                <% @technology.reviews.each do |review| %>
                    <% unless review.what_makes_it_unique.blank? %>
                        <li><%= review.what_makes_it_unique %>(<%= review.user.email %>)</li>
                    <% end %>
                <% end %>
            </ul>

            <h2>What is it good at?</h2>
            <ul class="unstyled">
                <% @technology.reviews.each do |review| %>
                    <% unless review.what_is_it_good_at.blank? %>
                        <li><%= review.what_is_it_good_at %>(<%= review.user.email %>)</li>
                    <% end %>
                <% end %>
            </ul>

            <h2>What is it bad at?</h2>
            <ul class="unstyled">
                <% @technology.reviews.each do |review| %>
                    <% unless review.what_is_it_bad_at.blank? %>
                        <li><%= review.what_is_it_bad_at %>(<%= review.user.email %>)</li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
</div>

