
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li>
      <%= link_to @technology.technology_type.name,
          tech_index_path(:technology_type_id => @technology.technology_type.id) %>
      <span class="divider">/</span>
  </li>
  <li class="active"><%= @technology.name %></li>
</ul>

<div class="row-fluid">

    <h1><%= @technology[:name] %></h1>
    <%= link_to "write review",
                new_technology_review_path(@technology),
                class: "btn" %>
</div>
<div class="span3 sidebar">
    <dl class="dl-horizontal">
        <dt>Overall rating</dt>
        <dd><%= @rating_summary.overall %></dd>
        <dt>Development</dt>
        <dd><%= @rating_summary.development %></dd>
        <dt>Community</dt>
        <dd><%= @rating_summary.community %></dd>
        <dt>Maturity</dt>
        <dd><%= @rating_summary.maturity %></dd>
    </dl>

    <h3>Alternatives</h3>
    <div>
        <% @alternatives.each do |alternative| %>
            <%= link_to alternative.name, tech_url(alternative) %>
        <% end %>
    </div>

    <h3>In the ecosystem</h3>

    <% @technology.technology_property_values.each do |property_value| %>
        <h3><%= property_value.technology_property.display_name %></h3>
        <div>
            <%= property_value.value %>
        </div>
    <% end %>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9">

            <h2>In General</h2>
            <%= link_to 'add', new_technology_review_type_text_review_path(@technology.id, 8) %>
            <ul class="unstyled">
                <% @technology.reviews.each do |review| %>
                    <% unless review.general_comments.blank? %>
                        <li><%= review.general_comments %>(<%= review.user.email %>)</li>
                    <% end %>
                <% end %>
            </ul>

            <h2>What makes it unique?</h2>
            <%= link_to 'add', new_technology_review_type_text_review_path(@technology.id, 5) %>
            <ul class="unstyled">
                <% @technology.reviews.each do |review| %>
                    <% unless review.what_makes_it_unique.blank? %>
                        <li><%= review.what_makes_it_unique %>(<%= review.user.email %>)</li>
                    <% end %>
                <% end %>
            </ul>

            <h2>What is it good at?</h2>
            <%= link_to 'add', new_technology_review_type_text_review_path(@technology.id, 6) %>
            <ul class="unstyled">
                <% @technology.reviews.each do |review| %>
                    <% unless review.what_is_it_good_at.blank? %>
                        <li><%= review.what_is_it_good_at %>(<%= review.user.email %>)</li>
                    <% end %>
                <% end %>
            </ul>

            <h2>What is it bad at?</h2>
            <%= link_to 'add', new_technology_review_type_text_review_path(@technology.id, 7) %>
            <ul class="unstyled">
                <% @technology.reviews.each do |review| %>
                    <% unless review.what_is_it_bad_at.blank? %>
                        <li><%= review.what_is_it_bad_at %>(<%= review.user.email %>)</li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
</div>

