<%= form_for :technology_properties, url:"hello" do |f| %>
    <% @properties.each do |property| %>
        <%= f.fields_for :values do |builder| %>
            <fieldset class="row-fluid">
                <% if property.property_type == 'text' %>
                    <%= builder.label :value, property.display_name %>
                    <%= f.text_field :value %>
                <% elsif property.property_type == 'boolean' %>
                    <label class="checkbox">
                        <%= f.check_box :value %> <%=property.display_name%>
                    </label>
                <% elsif property.property_type == 'technology' %>
                    <%= builder.label :value, property.display_name %>
                    <%= builder.text_field :value, :data =>
                            { :provide => 'typeahead',
                              :source => @technologies,
                              :mode => 'multiple',
                              :items => 10} %>
                <% end %>
            </fieldset>
        <% end %>
    <% end %>
<% end %>