<h1>Create technology</h1>

<%= form_for :technology, url:technology_index_path do |f| %>
    <fieldset>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :website %>
        <%= f.text_area :website %>
    </fieldset>

    <fieldset>
        <%= f.submit "submit", :class=>"btn" %>
    </fieldset>

<% end %>