<% @title = "HeapSheep: Review " + @technology.name %>

<ol class="breadcrumb affix">
    <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li>
        <%= link_to @technology.technology_type.name,
                    technology_index_path(:technology_type_id => @technology.technology_type.id) %>
    </li>
    <li class="active"><%= @technology.name %></li>
</ol>

<div class="container-fluid">
    <h1><%= @review_type.display_name %></h1>

    <%= form_for :review, url: technology_review_type_text_review_index_path(@technology.id, @review_type.id) do |f| %>

        <div class="form-group">
            <%= f.text_area :review, :rows=>4, :class=>"span12 form-control" %>
        </div>

        <div class="form-group">
            <%= f.submit "submit", :class=>"btn" %>

        </div>
    <% end %>
</div>