<!DOCTYPE html>
<html>
<head>
  <title>Technophobia</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if alert %>
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%= alert %>
        </div>
    <% end %>
    <% if notice %>
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%= notice %>
        </div>
    <% end %>
    <div>
        <% if user_signed_in? %>
            <%= link_to 'Settings', edit_user_registration_url %>
            <%= link_to 'Sign out', destroy_user_session_url, :method => :delete %>
        <% else %>
            <%= link_to 'Sign in', new_user_session_url %>
            <%= link_to 'Sign up', new_user_registration_url %>
        <% end %>

    </div>

<%= yield %>

</body>
</html>
