<!DOCTYPE html>
<html>
<head>
  <title>Technophobia</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <a class="brand" href="#">technophobia</a>

            <ul class="nav">
                <li>
                    <%= yield :search_form %>
                </li>
                <% if user_signed_in? %>
                    <li><%= link_to 'Settings', edit_user_registration_url, :class=>"pull-right" %></li>
                    <li class="divider-vertical"></li>
                    <li><%= link_to 'Sign out', destroy_user_session_url, :method => :delete, :class=>"pull-right" %></li>
                <% else %>
                    <li class="pull-right"><%= link_to 'Sign in', new_user_session_url %></li>
                    <li class="divider-vertical"></li>
                    <li class="pull-right"><%= link_to 'Sign up', new_user_registration_url %></li>
                <% end %>
            </ul>
        </div>
    </div>
    <% if alert %>
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%= alert %>
        </div>
    <% end %>
    <% if notice %>
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <%= notice %>
        </div>
    <% end %>

<%= yield %>

</body>
</html>
